# MATLAB autosave
*.asv

# Office
*.pptx
Blending tank example/Case1-v3.mat
Blending tank example/Case2-v3.mat
Blending tank example/Case3-v2.mat
Blending tank example/Case3-v3.mat
Blending tank example/initCase0.mat
Blending tank example/initCase1.mat
Blending tank example/initCase2.mat
Blending tank example/initCase3.mat
Blending tank example/initIdeal.mat
Figures/Case1-process-data.fig
Figures/Case1-process-data.tif
Figures/Case2-process-data.fig
Figures/Case2-process-data.tif
Figures/Case3-process-data.fig
Figures/Case3-process-data.tif
Blending tank example/Case1-v4.mat
Blending tank example/Case2-v4.mat
Blending tank example/Case3-v4.mat
Figures/Process-Data-Case1-v4.fig
Figures/Process-Data-Case1-v4.tif
Figures/Process-Data-Case2-v4.fig
Figures/Process-Data-Case2-v4.tif
Figures/Process-Data-Case3-v4.fig
Figures/Process-Data-Case3-v4.tif
Figures/Cumulative-Fractional-Loss-Gain-v4.fig
Figures/Cumulative-Fractional-Loss-Gain-v4.tif
Blending tank example/Case1-v4.mat
Blending tank example/Case2-v4.mat
Blending tank example/Case3-v4.mat
