# MATLAB autosave
*.asv

# Office
*.pptx
Blending tank example/Case1-v3.mat
Blending tank example/Case2-v3.mat
Blending tank example/Case3-v2.mat
Blending tank example/Case3-v3.mat
Blending tank example/initCase0.mat
Blending tank example/initCase1.mat
Blending tank example/initCase2.mat
Blending tank example/initCase3.mat
Blending tank example/initIdeal.mat
